body {
    background-color: rgb(51, 51, 51);
}
.titulo {
    color: orangered;
    width: 225px;
    height: 50px;
    background-color: aquamarine;
}

/*en css existen muchos tipos de sisplay, hasta el momento veremos tres fundamentales: display inline, display block y display inline block. y estos nos dicen como estan estructurados los elementos de css en la web: block ocupa toda la pantalla horizontalmente, inline ocupa solo un pedacito. a los block y a los inline block se les puede cambiar el tamaño, a los inline no, ya vienen predeterminados.*/
#seleccionar-mascota {
    display: flex; /*con estapropiedad y este valor, le decimos al elemento padre, nuestra seccion de seleccionar-mascota, que utilice la tecnologia flexbox*/
    flex-direction: column; /*con esta propiedad puedo organizar a los hijos, en este caso el valor es column asi que quedaran uno debajo del otro, ya que por defecto estan uno al lado del otro*/
    justify-content: center; /*con esta propiedad puedo colocar loe elementos en cualquier parte del contenedor padre, en este caso los estamos centrando de forma vertical */
    align-items: center;/*con esta propiedad centro los elementos de forma horizontal*/
}
/*normalmente justify-content centra horizontamlente y align-items verticalmente, aqui lo estamos haciendo al revez ya que cambiamos el sentido de los elementos con flex-direction.*/

.tarjeta-de-mokepon {
    width: 100px;
    height: 50px;
    background: aquamarine;
    padding: 10px;
    box-sizing: border-box; /*esta propiedad me permite que padding y border no agranden la caja, y en vez de sumarle el tamaño de estos dos, lo ponga hacia adentro y nuestra caja siga siendo del tamaño inicial que le dimos.*/
    border: 1px solid hotpink;
    margin: 10px;
}
/*una caja en css se compone de los siguientes elementos, desde adentro hacia afuera son: Content(es donde va el contenido puesto en html), Padding(es el borde interno entre el contenido y el borde de la caja), Border(es la linea que delimita a la caja), Margin(es el espacio externo entre cajas).*/

input {
    display: none; /*esta propiedad oculta las etiquetas de input, en este caso los radio no son visibles.*/
}

#boton-mascota{
    display: none;
}

.boton-seleccionar-mascota {
    width: 120px;
    height: 30px;
    background: orangered;
    padding: 4px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px rgb(47, 150, 0);
}
